@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

/* Fontes */

.exo {
    font-family: 'Exo', sans-serif;
}

.roboto-slab {
    font-family: 'Roboto Slab', serif;
}

.comfortaa {
    font-family: 'Comfortaa', cursive;
}

.varela-round {
    font-family: 'Varela Round', sans-serif;
}

.links-requisicao {
    color: #00c4cc;
}


/* Backgrounds */

.bg-nav {
    background-image: linear-gradient(to right, #cb6ce6, #00c4cc);
}

.bg-color-roxo {
    /* Para botões */
    background-color: #c972e0;
    color: #ffffff;
}

.bg-color-roxo:hover {
    /* Para botões */
    background-color: #9253a3;
    color: #ffffff;
}

.bg-table {
    /* Header da table */
    background-image: linear-gradient(to right, #cb6ce6, #00c4cc);
    color: #ffffff;
}


/* Links */

a:link {
    text-decoration: none;
    color: #cb6ce6;
}

.link-basico {
    font-size: 18px;
    margin-top: 15px;
}


/* Textos */

.titulo-anestesia {
    font-size: 25px;
}

.search {
    font-family: 'Comfortaa', cursive;
    float: left;
}